.bienvenida-msg{
    padding: 5px;
}

td{
    text-align: center;
    padding: 5px;
}

table {
    border-style: groove;
}

.registro {
    margin-top: 250px;
    margin-left: 550px;
}

.boton-registro{
    padding: auto;
}